body{
    font-family: serif;
    color:white;
}
.home{
    color: white;
}
.header{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color:#003366;
    height:100px;
}
.main{
    margin-top: -20px;
    padding-left: 20px;
    padding-top: 1px;
    background-color:#336699;
    height:600px;
}
.footer{
    margin-top: -20px;
    padding-top: 1px;
    padding-left: 20px;
    background-color:#003366;
    height:170px;
}
a{
    color: white;
}
