body{
    font-family: sans-serif;
}
.header{
  background-color:#skyblue;
  height:90px;
}
.main{
  background-color:lightblue;
  height:600px;
}
.footer{
  background-color:#white;
  height:270px;
}
