body {
    font-family: serif;
    color: white;
    background-color: #1d273f;
}
.home {
    color: white;
}
.header {
    background-color: #20324e;
    height: 100px;
}
.main {
    background-color: #20324e;
    height: 600px;
}
.footer {
    background-color: #20324e;
    height: 120px;
}
a {
    color: white;
}
